
.conteudo {
    display: flex;
    flex-direction: column;
}

.games h2{
    color: #ffffff;
    font-family:  "Gotham HTF", sans-serif;
    position: relative;
    top: 8%;
    left: -36%;
    font-size: 90px;
}
.games p{
    position: relative;
    color: rgb(255, 255, 255);
    font-family:  "Gotham HTF", sans-serif;
    text-align: left;
    font-size: 20px;
    top: 8%;
    left: 2%;
    margin-right: 52%;
}
.mobile{
    background:linear-gradient(rgba(0, 0, 0, 0.500),rgba(0, 0, 0, 0.500)), url(../img/imgmobile.jpg);
    background-size: cover;
    height: 100vh;
}

.mobile h2{
    color: #ffffff;
    font-family:  "Gotham HTF", sans-serif;
    font-size: 140px;
    filter: brightness();

}

.mobile p{
    position: relative;
    color: rgb(255, 255, 255);
    font-family:  "Gotham HTF", sans-serif;
    text-align: center;
    font-size: 24px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;

}

.tech{
    background:linear-gradient(rgba(0, 0, 0, 0.500),rgba(0, 0, 0, 0.500)), url(../img/fundocomp.jpg);
    background-size: cover;
    height: 100vh;
}

.tech h2{
    color: #ffffff;
    font-family:  "Gotham HTF", sans-serif;
    font-size: 140px;
    position: relative;
    left: 26%;

}

.tech p{
    position: relative;
    color: rgb(255, 255, 255);
    font-family:  "Gotham HTF", sans-serif;
    text-align: right;
    font-size: 20px;
    top: 6%;
    left: 50%;
    margin-right: 52%;
}